<ion-content>
  <!-- Header section -->
  <div class="ion-margin" style="display: flex; justify-content: space-between; align-items: center; margin-top: 0">
    <h1 class="climate-color device-title">{{ this.device?.DeviceName }}</h1>

    <ion-item class="ion-no-margin ion-no-padding" lines="none">
      <ion-button fill="clear" shape="round" class="icon-large" routerLink="/devices/{{this.idFromRoute}}/edit">
        <ion-icon slot="icon-only" name="create" class="climate-color"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" class="icon-large" (click)="presentDeleteDeviceAlert()">
        <ion-icon slot="icon-only" name="trash" class="climate-color"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <app-graph *ngIf="device"></app-graph>

  <app-device-settings [deviceId]="idFromRoute!"></app-device-settings>
</ion-content>
