<p>
  room {{ this.idFromRoute }} works!
</p>

<div class="flexbox">
  <div style="width: 100vw; height: 30vh; margin: 20px;">
    <p>Space for the cool Room-value-cards</p>

  </div>
  <!--app-device-card *ngFor="let device of devices.reverse()">
  </app-device-card-->
</div>

<ion-fab id="settingsl" slot="fixed" vertical="top" horizontal="end" routerLink="/rooms/{{this.idFromRoute}}/edit">
  <ion-fab-button>
    <ion-icon name="settings-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-list>
  <ion-list-header>Devices in Room {{ this.idFromRoute }}</ion-list-header>
  <ion-item *ngFor="let d of this.roomDevices">
    <p>#{{ d.Id }}: {{ d.DeviceName }}</p>
  </ion-item>
</ion-list>
