<ion-content color="light" class="ion-padding">
  <div class="ion-text-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <ion-card class="ion-padding" id="create-device-card"
              style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
      <ion-card-header class="ion-text-center">
        <h1>Add Device</h1>
      </ion-card-header>
      <ion-card-content class="ion-color ion-color-danger">
        <form (ngSubmit)="createDevice()" [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-input formControlName="deviceName" label="Device Name *" label-placement="stacked">
              </ion-input>
            </ion-item>
            <div *ngIf="deviceName.touched && deviceName.invalid" slot="label" style="text-align: left; margin-left: 4%;">
              <ion-text color="danger">Required</ion-text>
            </div>
          </ion-list>
          <div class="ion-text-center ion-padding">
            <ion-button (click)="createDevice()" size="large" [disabled]="form.controls.deviceName.invalid">
              Create
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
