<ion-content color="light" class="ion-padding">
  <div class="ion-text-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <ion-card class="ion-padding" id="create-device-card"
              style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
      <ion-card-header class="ion-text-center">
        <h1>Add Device</h1>
      </ion-card-header>
      <ion-card-content class="ion-color ion-color-danger">
        <form (ngSubmit)="createDevice()" [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-input formControlName="deviceName" label="Device Name *" label-placement="stacked">
              </ion-input>
            </ion-item>
            <div *ngIf="deviceName.touched && deviceName.invalid" slot="label" style="text-align: left; margin-left: 4%;">
              <ion-text color="danger">Required</ion-text>
            </div>


            <ion-item style="margin-top: 5%">
              <ion-select aria-label="Rooms" placeholder="Select a Room For The Device" style="max-width: 85%" (ionChange)="onRoomSelectionChange($event)">
                <ion-select-option *ngFor="let room of allRooms" [value]="room.Id">{{room.RoomName}}</ion-select-option>
              </ion-select>

                <ion-button id="click-trigger" fill="clear"><ion-icon name="information-circle-outline"  style="font-size: 25px"></ion-icon></ion-button>
                <ion-popover trigger="click-trigger" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Choose the room where the device is currently placed. <br> If it's not assigned to a room yet, you can do so Change this later.</ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-list>


          <div class="ion-text-center ion-padding">

            <ion-button (click)="createDevice()" size="large" [disabled]="form.controls.deviceName.invalid || this.selectedRoomId === undefined">
              Create
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
