<ion-content color="light">

  <div style="display: flex; justify-content: center; align-items: center;">
    <ion-card class="ion-padding" id="register-card"
              style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
      <ion-card-header class="ion-text-center">
        <h1>Sign in</h1>
      </ion-card-header>
      <form (ngSubmit)="submit()" [formGroup]="form">
        <ion-item>
          <ion-input formControlName="email" label="Email" labelPlacement="stacked"></ion-input>
        </ion-item>
        <div *ngIf="email.touched && email.invalid" slot="label" style="margin-left: 2%;">
          <ion-text color="danger">Valid email is required</ion-text>
        </div>

        <ion-item>
          <ion-input formControlName="password" label="Password" labelPlacement="stacked" type="password"></ion-input>
          <ion-button class="small-text" color="medium" fill="clear" size="small" (click)="RedirectToForgotPassword()">Forgot password?</ion-button>
        </ion-item>
        <div *ngIf="password.touched && password.errors?.['required']" slot="label" style="margin-left: 2%;">
          <ion-text color="danger">Required</ion-text>
        </div>
        <div *ngIf="password.touched && password.invalid && !password.errors?.['required']" slot="label"
             style="margin-left: 2%;">
          <ion-text color="danger">Minimum 7 Chars</ion-text>
        </div>

        <div class="ion-padding" style="display: flex; justify-content: center;">
          <ion-button (click)="submit()" [disabled]="form.invalid" id="btn-submit" size="large">
            Sign in
          </ion-button>
        </div>

        <p class="ion-text-center">New to Climate? <a href="/#/auth/register">Create an account</a></p>
      </form>
    </ion-card>
  </div>
</ion-content>
