<ion-card color="light" style="display: flex; flex-direction: column; height: 90%;">
  <ion-card-header style="background-color: white;">
    <ion-card-title style="display: flex; flex-direction: row; justify-content: center">
      <div>
        <ion-icon *ngIf="deviceId !== -1" name="radio" style="font-size: 60px;"></ion-icon>
        <ion-icon *ngIf="deviceId === -1" name="add" style="font-size: 60px;"></ion-icon>
      </div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-text-center"
                    style="flex: 1; display: flex; flex-direction: column;">
    <ion-label style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">
      {{this.device?.DeviceName}}
    </ion-label>
  </ion-card-content>
</ion-card>
