<ion-content color="light" class="ion-padding">
  <div class="ion-text-center" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <ion-card class="ion-padding" id="create-device-card"
              style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
      <ion-card-header class="ion-text-center">
        <h1 class="climate-color">Edit Device</h1>
      </ion-card-header>
      <ion-card-content class="ion-color ion-color-danger">
        <form (ngSubmit)="editDevice()" [formGroup]="form">
          <ion-list>
            <ion-item *ngIf="device" style="display:flex; justify-content: space-between; flex-wrap: wrap;">
              <ion-input formControlName="deviceName" label="Device Name *" label-placement="stacked"
                         [value]="device.DeviceName"
                         style="align-content: flex-start">
              </ion-input>

              <ion-button id="name-popover" fill="clear" style="align-content: flex-end;">
                <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
              </ion-button>
              <ion-popover trigger="name-popover" triggerAction="click">
                <ng-template>
                  <ion-content class="ion-padding">Choose the name for your device. <br> You can change this later.
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>
            <div *ngIf="deviceName.touched && deviceName.invalid" slot="label"
                 style="text-align: left; margin-left: 4%;">
              <ion-text color="danger">Required</ion-text>
            </div>

            <ion-item *ngIf="device"
                      style="margin-top: 5%; display:flex; justify-content: space-between; flex-wrap: wrap;">
              <ion-select [(ngModel)]="device.RoomId" aria-label="Rooms" placeholder="Select a Room"
                          style="align-content: flex-start"
                          formControlName="roomId" (ionChange)="onRoomSelectionChange($event)">
                <ion-select-option *ngFor="let room of allRooms" [value]="room.Id">{{room.RoomName}}</ion-select-option>
              </ion-select>

              <ion-button id="click-trigger" fill="clear" style="align-content: flex-end;">
                <ion-icon name="information-circle-outline" style="font-size: 25px"></ion-icon>
              </ion-button>
              <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                  <ion-content class="ion-padding">Choose the room where the device is currently placed. <br> You can
                    change this later.
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>

          </ion-list>
          <div class="ion-text-center ion-padding">
            <ion-button (click)="editDevice()" size="large"
                        [disabled]="form.controls.deviceName.invalid || !form.controls.deviceName.touched">
              Edit
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
