<ion-content color="light">



  <div style="display: block; justify-content: center; align-items: center;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-card class="ion-padding" id="register-card"
                style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
        <ion-card-header class="ion-text-center">
          <h1> Forgot Password</h1>
        </ion-card-header>

        <ion-card-content class="ion-color ion-color-danger">
          <form (ngSubmit)="resetPassword()" [formGroup]="form">

            <ion-list>

              <p style="text-align: center; font-size: 14px; font-weight: bold;">Enter your user account's verified email address and we will send you a password reset link.</p>
              <ion-item>
                <ion-input formControlName="email" label="E-mail *" label-placement="stacked">
                </ion-input>
              </ion-item>
              <div *ngIf="email.touched && email.invalid" slot="label" style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Valid email is required</ion-text>
              </div>


            </ion-list>
            <div class="ion-text-center ion-padding">
              <ion-button (click)="resetPassword()" [disabled]="form.invalid" size="large">
                Reset password
              </ion-button>
            </div>

          </form>

        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
