<ion-content>
  <div class="filter-bar">
    <ion-button (click)="toggleFilterDropdown()">
      <ion-icon name="funnel-outline"></ion-icon>
      Filter
    </ion-button>
    <ion-list *ngIf="showFilterDropdown" class="filter-dropdown">
      <ion-item (click)="filterByIsRead(null)">All</ion-item>
      <ion-item (click)="filterByIsRead(true)">Read</ion-item>
      <ion-item (click)="filterByIsRead(false)">Unread</ion-item>
    </ion-list>
  </div>

  <div class="table-container">
    <ion-grid>
      <ion-row class="header-row">
        <ion-col size="1">
          <ion-checkbox [(ngModel)]="selectAllChecked" (ionChange)="toggleSelectAll()"></ion-checkbox>
        </ion-col>
        <ion-col size="2" (click)="sortBy('deviceName')">
          <span>Device</span>
          <ion-icon name="caret-up-outline" *ngIf="sortByOrder['deviceName'] === 'asc'"></ion-icon>
          <ion-icon name="caret-down-outline" *ngIf="sortByOrder['deviceName'] === 'desc'"></ion-icon>
        </ion-col>
        <ion-col size="4" (click)="sortBy('description')">
          <span>Description</span>
          <ion-icon name="caret-up-outline" *ngIf="sortByOrder['description'] === 'asc'"></ion-icon>
          <ion-icon name="caret-down-outline" *ngIf="sortByOrder['description'] === 'desc'"></ion-icon>
        </ion-col>
        <ion-col size="3" (click)="sortBy('roomName')">
          <span>Room</span>
          <ion-icon name="caret-up-outline" *ngIf="sortByOrder['roomName'] === 'asc'"></ion-icon>
          <ion-icon name="caret-down-outline" *ngIf="sortByOrder['roomName'] === 'desc'"></ion-icon>
        </ion-col>
        <ion-col size="2" (click)="sortBy('timestamp')">
          <span>Time</span>
          <ion-icon name="caret-up-outline" *ngIf="sortByOrder['timestamp'] === 'asc'"></ion-icon>
          <ion-icon name="caret-down-outline" *ngIf="sortByOrder['timestamp'] === 'desc'"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="data-row" *ngFor="let alert of sortedAlerts">
        <ion-col size="1">
          <ion-checkbox [(ngModel)]="alert.isRead"></ion-checkbox>
        </ion-col>
        <ion-col size="2">{{ alert.deviceName }}</ion-col>
        <ion-col size="4">{{ alert.description }}</ion-col>
        <ion-col size="3">{{ alert.roomName }}</ion-col>
        <ion-col size="2">{{ alert.timestamp }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
