<!-- Content section -->
<ion-card style="height: 70vh;">
  <ion-split-pane when="sm" contentId="main"> <!-- Show the split-pane when the min-width is 768px -->
    <!-- Stats section -->
    <ion-card>
      <ion-card-content style="width: 100%;">
        <ion-list>
          <ion-item class="ion-margin" lines="none">
            <ion-icon name="thermometer-outline" size="large" class="climate-color"></ion-icon>
            <ion-label class="climate-color ion-margin-start">Temperature</ion-label>
          </ion-item>

          <ion-item class="ion-margin" lines="none">
            <ion-icon name="water-outline" size="large" class="climate-color"></ion-icon>
            <ion-label class="climate-color ion-margin-start">Humidity</ion-label>
          </ion-item>

          <ion-item class="ion-margin" lines="none">
            <ion-icon name="logo-tableau" size="large" class="climate-color"></ion-icon>
            <ion-label class="climate-color ion-margin-start">PM<sub>2.5</sub></ion-label>
          </ion-item>

          <ion-item class="ion-margin" lines="none">
            <ion-icon name="sparkles-outline" size="large" class="climate-color"></ion-icon>
            <ion-label class="climate-color ion-margin-start">PM<sub>10</sub></ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Graph section -->
    <ion-card id="main" style="width: 100%">
      <ion-card-header>
        <div style="display: flex; justify-content: center;">
          <ion-button fill="outline" (click)="updateGraph('temperature')">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <ion-icon name="thermometer-outline" class="climate-color"></ion-icon>
              <ion-label class="climate-color">Temperature</ion-label>
            </div>
          </ion-button>
          <ion-button fill="outline" (click)="updateGraph('humidity')">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <ion-icon name="water-outline" class="climate-color"></ion-icon>
              <ion-label class="climate-color">Humidity</ion-label>
            </div>
          </ion-button>
          <ion-button fill="outline" (click)="updateGraph('pm')">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <ion-icon name="logo-tableau" class="climate-color"></ion-icon>
              <ion-label class="climate-color">Particular Matter</ion-label>
            </div>
          </ion-button>
          <ion-button fill="outline" (click)="updateGraph('all')">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <ion-icon name="bar-chart" class="climate-color"></ion-icon>
              <ion-label class="climate-color">All</ion-label>
            </div>
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <!-- Your chart component -->
        <apx-chart
          #chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [colors]="chartOptions.colors"
          [yaxis]="chartOptions.yaxis"
          [dataLabels]="chartOptions.dataLabels"
          [markers]="chartOptions.markers"
          [stroke]="chartOptions.stroke"
          [grid]="chartOptions.grid"
          [xaxis]="chartOptions.xaxis"
          [tooltip]="chartOptions.tooltip"
          [annotations]="chartOptions.annotations"
        ></apx-chart>
        <!-- Buttons for time range selection -->
        <div style="display: flex; justify-content: center;">
          <ion-button fill="clear" (click)="setTimeRange('1d')">1D</ion-button>
          <ion-button fill="clear" (click)="setTimeRange('1m')">1M</ion-button>
          <ion-button fill="clear" (click)="setTimeRange('6m')">6M</ion-button>
          <ion-button fill="clear" (click)="setTimeRange('1y')">1Y</ion-button>
          <ion-button fill="clear" (click)="setTimeRange('all')">All</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-split-pane>

</ion-card>
