<div style="display: flex; align-items: center; justify-content: space-between; height: 7.5vh; min-height: 50px">
  <div id="left" style="justify-content: flex-start">
    <ion-buttons class="ion-margin">
      <ion-menu-button menu="main-menu" class="climate-color"></ion-menu-button>
      <ion-button routerLink="" shape="round">
        <ion-img src="../assets/icon/logo_light_no_bg.png" style="width: 150px;"></ion-img>
      </ion-button>
    </ion-buttons>
  </div>

  <div id="right" style="justify-content: flex-end">
    <ion-button id="profile" fill="clear" shape="round" class="ion-padding" color="primary">
      <ion-icon class="climate-color" slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-popover trigger="profile" triggerAction="click">
  <ng-template>
    <ion-content>
      <ion-item>
        <ion-icon class="climate-color" name="person-circle"></ion-icon>
        <ion-label *ngIf="user" class="climate-color ion-margin" style="font-weight: bold">{{ user.FirstName }} {{ user.LastName}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon class="climate-color" name="cog"></ion-icon>
        <ion-button class="climate-color" fill="clear" (click)="goToUserSettings()">User Settings</ion-button>
      </ion-item>
      <ion-item routerLink="/user/notifications">
        <ion-icon class="climate-color" name="mail-unread"></ion-icon>
        <ion-button class="climate-color" fill="clear" >Notifications</ion-button>
      </ion-item>
      <ion-item routerLink="/example">
        <ion-icon class="climate-color" name="bulb"></ion-icon>
        <ion-button class="climate-color" fill="clear">Example</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon class="climate-color" name="log-out"></ion-icon>
        <ion-button color="danger" fill="clear" (click)="signOut()">Sign out</ion-button>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>
