<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
        <div>
          <ion-img
            src="assets/icon/logo_light_no_bg.png"
            style="width: 100px">
          </ion-img>
        </div>
        <div>
          <ion-icon name="person-circle"></ion-icon>
        </div>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-router-outlet>
  </ion-router-outlet>
</ion-content>

