<ion-content color="light">
  <div style="display: block; justify-content: center; align-items: center;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-card class="ion-padding" id="register-card"
                style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
        <ion-card-header class="ion-text-center">
          <h1>Sign up now</h1>
        </ion-card-header>
        <ion-card-content class="ion-color ion-color-danger">
          <form (ngSubmit)="register()" [formGroup]="form">

            <ion-list>

              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-input style="align-content: flex-start" formControlName="firstName" label="First Name *"
                           label-placement="stacked"></ion-input>

                <ion-button id="firstname-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="firstname-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">
                      Enter your first name. If you have a middle name you can enter it here as well.
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>

              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-input style="align-content: flex-start" formControlName="lastName" label="Last Name *"
                           label-placement="stacked"></ion-input>
                <ion-button id="lastname-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="lastname-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">
                      Enter your last name.
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>

              <div *ngIf="firstName.touched && firstName.invalid" slot="label"
                   style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Required</ion-text>
              </div>

              <div *ngIf="lastName.touched && lastName.invalid" slot="label" style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Required</ion-text>
              </div>

              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-input style="align-content: flex-start" formControlName="email" label="E-mail *"
                           label-placement="stacked">
                </ion-input>
                <ion-button id="email-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="email-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Enter a valid email address
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <div *ngIf="email.touched && email.invalid" slot="label" style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Valid email is required</ion-text>
              </div>

              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-input style="align-content: flex-start" formControlName="phone" label="Phone *"
                           label-placement="stacked">
                </ion-input>

                <ion-button id="number-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="number-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Enter a valid phone number. Only allows digits, parenthesis, dashes
                      and spaces
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <div *ngIf="phone.touched && phone.invalid" slot="label" style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Required</ion-text>
              </div>


              <div class="countryCodeField" *ngIf="(countryCode.touched && (countryCode.invalid))" slot="label"
                   style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">select country code</ion-text>
              </div>

              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-select style="align-content: flex-start" formControlName="countryCode" label="Country Code *"
                            label-placement="stacked">
                  <ion-select-option
                    *ngFor="let country of allCountryCodes" [value]="country.IsoCode">
                    {{ country.Country }} ({{ country.IsoCode }} / {{ country.CountryCode }})
                  </ion-select-option>
                </ion-select>

                <ion-button id="cc-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="cc-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Choose your country code for your phone number.
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>


              <ion-item style="display:flex; justify-content: space-between; flex-wrap: wrap;">
                <ion-input style="align-content: flex-start" type="password" formControlName="password"
                           label="Password *" label-placement="stacked">
                </ion-input>

                <ion-button id="pw-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="pw-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Choose a password for your account. Min. 8 characters
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <div *ngIf="password.touched && password.invalid" slot="label" style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Required</ion-text>
              </div>

              <ion-item>
                <ion-input type="password" formControlName="repeatPassword" label="Repeat password *"
                           label-placement="stacked"></ion-input>

                <ion-button id="rpw-popover" fill="clear" style="align-content: flex-end;">
                  <ion-icon name="information-circle-outline" style="font-size: 25px;"></ion-icon>
                </ion-button>
                <ion-popover trigger="rpw-popover" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Repeat your password. Must match the above.
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <div class="passwordField" *ngIf="(repeatPassword.touched && (repeatPassword.invalid || !isPasswordSame))"
                   slot="label"
                   style="text-align: left; margin-left: 4%;">
                <ion-text color="danger">Password must match</ion-text>
              </div>

            </ion-list>
            <div class="ion-text-center ion-padding">
              <ion-button (click)="register()" [disabled]="form.invalid" size="large">
                Create account
              </ion-button>
            </div>
            <p class="ion-text-center">Already have an account? <a href="/#/auth/login">Login</a></p>
          </form>

        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
